.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.container-form-product {
    width: 90%;
    margin: auto;
}

.img-product {
    width: 150px;
}

.container-table {
    width: 85%;
    margin: auto;
}

.img-butt-Delete {
    width: 30px;
}

.img-butt-Delete:hover {
    width: 40px;
}

th {
    font-weight: bold;
    text-align: center;
    /* Centra horizontalmente */
    vertical-align: middle;
    /* Centra verticalmente */
}