<article>
  <form id="changePass" action="" method="post">
    <header>
      <h1>Recuperar contrase침a 游때</h1>
    </header>
    <input type="password" name="newPass" placeholder="contrase침a" required>
    <input type="password" name="newPass1" placeholder="confirmar contrase침a" required>
    {{!-- <input type="password" name="password" placeholder="Contrase침a" required> --}}
    <footer>
      <input type="submit" value="Aceptar ">
    </footer>
    
    <a href="/login">Iniciar Sesi칩n</a>
  </form>
</article>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    console.log(token);
    const changePass = document.getElementById('changePass');
    changePass.action = `/api/changePass?token=${token}`;
</script>